{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            {% if project_list|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Tasks</th>
                        </tr>
                        {% for project in project_list %}
                            <tr>
                                <td><a href="{% url 'show_project' project.pk %}">{{ project.name }}</a></td>
                                <td>{{ project.tasks.all|length }}</td>
                        {% endfor %}

            {% else %}
                <p>
                    You are not assigned to any projects...yet!
                </p>
            {% endif %}
        </tr>
    </thead>
    </table>
    </div>
    </main>


{% endblock content %}
